{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- First row of images -->
        <div class="col-lg-4 image-block">
            <img src="{% static 'images/italian_cuisine.webp' %}" alt="Итальянская кухня">
            <div class="image-caption">ИИТАЛЬЯНСКАЯ КУХНЯ</div>
        </div>
        <div class="col-lg-4 image-block">
            <img src="{% static 'images/french_cuisine.webp' %}" alt="Французская кухня">
            <div class="image-caption">ФРАНЦУЗСКАЯ КУХНЯ</div>
        </div>
        <div class="col-lg-4 image-block">
            <img src="{% static 'images/georgian_cuisine.webp' %}" alt="Грузинская кухня">
            <div class="image-caption">ГРУЗИНСКАЯ КУХНЯ</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 image-block">
            <img src="{% static 'images/russian_cuisine.webp' %}" alt="Русская кухня">
            <div class="image-caption">РУССКАЯ КУХНЯ</div>
        </div>
        <div class="col-lg-4 image-block">
            <img src="{% static 'images/chinese cuisine.webp' %}" alt="Китайская кухня">
            <div class="image-caption">КИТАЙСКАЯ КУХНЯ</div>
        </div>
        <div class="col-lg-4 image-block">
            <img src="{% static 'images/other_cuisine.webp' %}" alt="Другое">
            <div class="image-caption">ДРУГОЕ</div>
        </div>
    </div>
</div>
{% endblock %}
